<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Slabo+27px|Roboto" rel="stylesheet">
    <style type="text/css">
      body {
        font-family: 'Roboto', sans-serif;
      }

      h1, h2 {
        font-family: 'Slabo 27px', serif;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container" role="main">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'boletim:index' %}" style="font-family: 'Fredericka the Great', cursive">Boletim</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li{% if origem == 'index' %} class= "active"{% endif %}><a href="{% url 'boletim:index' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Início</a></li>
            <li{% if origem == 'periodos' %} class= "active"{% endif %}><a href="{% url 'boletim:periodos' %}"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Períodos</a></li>
            <li{% if origem == 'disciplinas' %} class= "active"{% endif %}><a href="{% url 'boletim:disciplinas' %}"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Disciplinas</a></li>
            <li{% if origem == 'matriculas' %} class= "active"{% endif %}><a href="{% url 'boletim:matriculas' %}"><span class="glyphicon glyphicon-education" aria-hidden="true"></span> Matrículas</a></li>
            <li{% if origem == 'professores' %} class= "active"{% endif %}><a href="{% url 'boletim:professores' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Professores</a></li>
            <!-- <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      {% block conteudo %}{% endblock %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>
    <script type="text/javascript">
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
        $('[data-toggle="popover"]').popover()
      })
    </script>
  </body>
</html>